<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mycompany.courseerpbackend.repository.TeachersScheduleRepository">

    <insert id="insert">
        INSERT INTO teachers_schedule (teacher_id, branch_id, day_of_week, start_time, end_time)
        VALUES (#{teacherId}, #{branchId}, #{dayOfWeek}, #{startTime}, #{endTime})
    </insert>

    <update id="update" parameterType="TeachersSchedule">
        UPDATE teachers_schedule ts
        SET branch_id = #{brach_id}, day_of_week = #{dayOfWeek}, start_time = #{startTime}, end_time = #{endTime}
        WHERE ts.id = #{id}
    </update>

<!--    <insert id="upsert" parameterType="map">-->
<!--        INSERT INTO teachers_schedule (teacher_id, branch_id, day_of_week, start_time, end_time, is_deleted)-->
<!--        VALUES-->
<!--            <foreach collection="schedules" item="item" separator=",">-->
<!--                (#{item.teacherId}, #{item.branchId}, #{item.dayOfWeek}, #{item.startTime}, #{item.endTime}, false)-->
<!--            </foreach>-->
<!--        ON CONFLICT (teacher_id, branch_id, day_of_week)-->
<!--        DO UPDATE SET-->
<!--            start_time = EXCLUDED.start_time,-->
<!--            end_time = EXCLUDED.end_time,-->
<!--            is_deleted = false;-->
<!--    </insert>-->

    <select id="findById" resultType="TeachersSchedule">
        SELECT
            <include refid="teachersScheduleBaseColumns"/>
        FROM teachers_schedule ts
        WHERE ts.id = #{id}
          AND ts.is_deleted = false
    </select>

    <select id="findAll" resultType="TeachersSchedule">
        SELECT
            <include refid="teachersScheduleBaseColumns"/>
        FROM teachers_schedule ts
        WHERE ts.is_deleted = false
    </select>

    <sql id="teachersScheduleBaseColumns">
        ts.id,
        ts.branch_id,
        ts.day_of_week,
        ts.start_time,
        ts.end_time,
        ts.is_deleted
    </sql>

</mapper>
